/* Estilos para os estágios */
.stage {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
